.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;

}

.addition-button {
    cursor: pointer;
    color: blue;
}
.substraction-button {
    cursor: pointer;
    color: green;
}

.multiplicacion-button {
    cursor: pointer;
    color:rgb(8, 35, 35)

}

.division-button {
    cursor: pointer;
    color: blueviolet;
    font-size: 20px;
    font-weight: 1000;
}

.exponent-button {
    cursor: pointer;
    color: rgb(10, 20, 12);
    font-size: 20px;
    font-weight: 1000;
}

.square-button {
    cursor: pointer;
    color: rgb(205, 32, 133);
    font-size: 20px;
    font-weight: 1000;
}

.square-root-button {
    cursor: pointer;
    color: rgb(201, 21, 27);
    font-size: 17px;
    font-weight: 1000;
}